<style>
  .navbar {
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

</style>

<div class="navbar">
  App PWA
</div>
<div class="navigator">
  <a routerLink="/">หน้าแรก</a>
  <a routerLink="random">สุ่มภาพ</a>
  <a href="#">test2</a>
</div>
<router-outlet></router-outlet>
